<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Samfia</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi mollitia
      aspernatur consequatur voluptas doloremque asperiores pariatur in?
      Delectus laborum, qui ducimus voluptatem illum quasi quod fugit
      perferendis voluptates labore quis!
    </p>
    <button>Click Me</button>
  </body>
</html>
