<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts in Detail</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Here is your searched post</h2>
    <div class="post">
      <h3>Post ID is: <%= post.id %></h3>
      <h3 class="user">@<%= post.username %></h3>
      <p class="content"><%= post.post %></p>
    </div>

    <a href="http://localhost:5090/posts">Show All Posts</a>
  </body>
</html>
